@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1572928180747'); /* IE9 */
  src: url('iconfont.eot?t=1572928180747#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAK8AAsAAAAABnQAAAJwAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqBAIEUATYCJAMICwYABCAFhG0HMBu6BcgekiRFSLylKJSAAoEAETztl87b3RCASySgJihYIFeVU1dZ1Qp9QtfHuIIwbMTf/7nM4cCILQMJiAptMb/l35dm9PzUGdVzUxNywhCpTTjshjfZegfX1E+gB1kd0JwyiiMBJzjAqKKRbSBD3zB2gUs4TqDdtD6lk429Q2hVWOMC8T7wLGjN+RSFJVuF5pqlRXzRpDV9SrfA5/D78d9ItJI0ZVbZ+ct1F5Z+ddppuV7VPfcRfgJa3YSMTaAQ17WxUxXBqIr2WNU82Fdx8GumqnyD2KtWsL/OKuwEk5B3T3xXcKuFCZQ4sQgcYbLcmEZ4UDcf8f7t9vX1+u3tpvGx/+Kq8fhxvfbxcZfn1HDqpyw89m+NdvTqxUrjx4+GJ85Un5vpNov2/o+OjowejfVMPfenWlHUkLiMOND2UDSxq5Eudvczwc8ykNGzc2tHAT9/T3wNR1T1ArmO1r3bg7/E79lSdKGlT0Xl1zqSxVFjE9q1o4Jd/b7GqoZuKRVaDd2Yo8VUasladT5EC7kJTTpsQ7NW+9Buw+bqDgNYRZQ2rLsEEHpdQ9LtEbJed2ghP6HJsG9o1hsZ2t3GwJYdluNN+zGTJeSifYGBo1PlGKU9Kt4n7yS2OCsMacfEeRDE4YGhYnKTUuI5ZuSn3oiIQsU6wQ1wGsWxxox1SI4M+CLZzOCgqnvTgKMTaHeMEYsgLmS7gAIOLaX87qK99Pl9xHMiZuGWihr7McJyQe9o2IChHuimLO1VcS+v5E55RgihIIVpCbQBBpFYTENZ/aAQcYgB/ohIZsag3Un1lQ2sr0g+IJfVYKlT2P2y5g9kseMDAA==') format('woff2'),
  url('iconfont.woff?t=1572928180747') format('woff'),
  url('iconfont.ttf?t=1572928180747') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1572928180747#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e61f";
}

